<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <!-- Bootstrap CSS 추가 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">로그인</h3>
                    <form action="/doLogin" method="post">
                        <div class="form-group">
                            <label for="email">이메일</label>
                            <input type="email" id="email" name="email" class="form-control" required placeholder="이메일 주소를 입력하세요">
                        </div>
                        <div class="form-group">
                            <label for="password">비밀번호</label>
                            <input type="password" id="password" name="password" class="form-control" required placeholder="비밀번호를 입력하세요">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">로그인</button>
                        <div th:if="${errorMessage != null}" th:text="${errorMessage}"></div>
                        <div class="text-center mt-3">
                            <a href="/user/new">회원가입</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
