<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>다이어리 수정 - 세줄요약좀</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mx-auto" href="/home">세줄요약좀</a>
    <div class="navbar-nav ml-auto">
        <span class="navbar-text mr-3" th:text="${nickname} + '님 환영합니다!'"></span>
        <a class="btn btn-outline-secondary" href="/user/update">회원 정보 수정하기</a>
        <a class="btn btn-outline-danger" href="/doLogout">로그아웃</a>

    </div>
</nav>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h3>새로운 다이어리 작성</h3>
                </div>
                <div class="card-body">
                    <form th:action="@{/diary/edit}" method="post" th:object="${diaryDto}">
                        <div class="form-group">
                            <label for="content">내용</label>
                            <textarea class="form-control" id="content" th:field="*{content}" rows="10" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="date">기존에 저장되어 있던 날짜</label>
                            <!-- 기존 날짜를 년/월/일 형태로 표시 -->
                            <div class="form-control-plaintext" th:text="${formattedDate}"></div>
                        </div>
                        <div class="form-group">
                            <label for="date">저장할 날짜</label>
                            <input type="date" class="form-control" id="date" th:field="*{date}" required>
                        </div>
                        <!-- hidden 필드를 사용하여 uploaded 값을 전송 -->
                        <input type="hidden" id="uploaded" th:field="*{uploaded}" value="false">
                        <button type="submit" class="btn btn-primary btn-block" onclick="setUploadedTrue()">저장</button>
                        <button type="submit" class="btn btn-secondary btn-block" onclick="setUploadedFalse()">임시저장</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function setUploadedTrue() {
        document.getElementById('uploaded').value = 'true';
    }
    function setUploadedFalse() {
        document.getElementById('uploaded').value = 'false';
    }
</script>
</body>
</html>
