<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>임시저장된 다이어리 목록 - 세줄요약좀</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mx-auto" href="#">세줄요약좀</a>
    <div class="navbar-nav ml-auto">
        <span class="navbar-text mr-3" th:text="${nickname} + '님 환영합니다!'"></span>
        <a class="btn btn-outline-secondary" href="/user/update">회원 정보 수정하기</a>
    </div>
</nav>
<div class="container mt-5">
    <h3 class="text-center">임시저장된 다이어리 목록</h3>
    <div class="list-group mt-3">
        <a th:each="diary : ${temporaryDiaries}"
           th:href="@{/diary/edit/{id}(id=${diary.diaryId})}"
           class="list-group-item list-group-item-action">
            <h5 th:text="${diary.date} + ' - ' + ${diary.content.substring(0, 20)} + '...'"></h5>
        </a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.amazonaws.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
